.container{
  max-width: 1350px;
  margin: 0 auto;
}
.header{
  padding: 30px 0;
}
.Nav nav{
  float: right;
}

.Nav nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Nav nav ul li{
  margin: 0 20px;
  font-size: 17px;
  text-transform: uppercase;
}
.Nav nav ul li a{
  color: #000;
  font-weight: 600;
}
.Nav nav ul li a:hover{
  text-decoration: none;

}
.form form input{
  padding: 8px;
  margin: 5px 0;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #909090;
}
.form form input:focus{
  outline-color: #909090;
}
.form form input::placeholder{
  font-size: 15px;
  color: #909090;
  text-transform: capitalize;
}
.form form button{
  margin: 10px 0;
  background: transparent;
  border: 1px solid #000;
  padding: 5px 30px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.form form button:hover{
  background-color: #000;
  color: #f5f5f5;
}
.error-message{
  font-size: 13px;
  color: red;
}